<div class="text-center">

    <h2><strong>News</strong></h2>
</div>

<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list">
                <li>
                    <time datetime="2015-12-19">
                        <span class="day">19</span>
                        <span class="month">Dec</span>
                        <span class="year">2015</span>
                    </time>
                    <img alt="" ng-src="{{user.CustomFields[0].File.Url}}" />
                    <div class="info">
                        <h2 class="title">US Foods Launches New Blog</h2>
                        <p class="desc">links or desc here.</p>
                    </div>
                </li>

                <li>
                    <time datetime="2015-09-15 0000">
                        <span class="day">15</span>
                        <span class="month">Sept</span>
                        <span class="year">2015</span>
                    </time>
                    <div class="info">
                        <h2 class="title">US Foods Kicks Off Fall With New Lineup of Fan-Friendly Foods</h2>
                        <p class="desc">Links or Desc Here.</p>
                    </div>
                </li>

                <li>
                    <time datetime="2015-08-07 2000">
                        <span class="day">7</span>
                        <span class="month">Aug</span>
                        <span class="year">2015</span>
                    </time>
                    <img  src="css/images/buyerStandin4.jpg"/>
                    <div class="info">
                        <h2 class="title">Sysco Announces Top-Level Leaders for Company Upon Completion of Proposed US Foods Merger</h2>
                        <p class="desc">Insert news or links here.</p>
                    </div>
                </li>

                <li>
                    <time datetime="2015-06-19 1600">
                        <span class="day">19</span>
                        <span class="month">Jun</span>
                        <span class="year">2015</span>
                    </time>
                    <img alt="Possible Upcoming Event" src="css/images/buyerStandin.jpg" />
                    <div class="info">
                        <h2 class="title">US Foods Opens Nation's Fourth CHEF'STORE inTempe</h2>
                        <p class="desc"> Description</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
